@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* width */
.main-content::-webkit-scrollbar {
  width: 8px;
  padding: 0.5rem;
}

/* Track */
.main-content::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #292a2d;
}

/* Handle */
.main-content::-webkit-scrollbar-thumb {
  background: #4a4c4e;
  border-radius: 100vh;
}

/* Handle on hover */
.main-content::-webkit-scrollbar-thumb:hover {
  background: #8e8f91;
}

.plus-minus {
  --primary: #fdcb67;
  --secondary: #22201d;
  --duration: 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 240px;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  border: 2px solid var(--primary);
  background-size: 300% 300%;
  transition: transform 0.3s;
  transform: scale(var(--scale, 1)) translateZ(0);
  animation: var(--name, unchecked) var(--duration) ease forwards;
}
.plus-minus:before,
.plus-minus:after {
  content: '';
  position: absolute;
  width: 16px;
  height: var(--height, 16px);
  left: 6px;
  top: var(--top, 6px);
  background: var(--background, var(--primary));
  animation: var(--name-icon-b, var(--name-icon, unchecked-icon))
    var(--duration) ease forwards;
}
.plus-minus:before {
  clip-path: polygon(
    0 6px,
    6px 6px,
    6px 0,
    10px 0,
    10px 6px,
    16px 6px,
    16px 10px,
    10px 10px,
    10px 16px,
    6px 16px,
    6px 10px,
    0 10px
  );
}
.plus-minus:after {
  --height: 4px;
  --top: 12px;
  --background: var(--secondary);
  --name-icon-b: var(--name-icon-a, checked-icon);
}
.plus-minus:active {
  --scale: 0.95;
}
.plus-minus:checked {
  --name: checked;
  --name-icon-b: checked-icon;
  --name-icon-a: unchecked-icon;
}

@keyframes checked-icon {
  from {
    transform: translateZ(12px);
  }
  to {
    transform: translateX(16px) rotateY(90deg) translateZ(12px);
  }
}

@keyframes unchecked-icon {
  from {
    transform: translateX(-16px) rotateY(-90deg) translateZ(12px);
  }
  to {
    transform: translateZ(12px);
  }
}

@keyframes checked {
  from {
    background-image: radial-gradient(
      ellipse at center,
      var(--primary) 0%,
      var(--primary) 25%,
      var(--secondary) 25.1%,
      var(--secondary) 100%
    );
    background-position: 100% 50%;
  }
  to {
    background-image: radial-gradient(
      ellipse at center,
      var(--primary) 0%,
      var(--primary) 25%,
      var(--secondary) 25.1%,
      var(--secondary) 100%
    );
    background-position: 50% 50%;
  }
}

@keyframes unchecked {
  from {
    background-image: radial-gradient(
      ellipse at center,
      var(--secondary) 0%,
      var(--secondary) 25%,
      var(--primary) 25.1%,
      var(--primary) 100%
    );
    background-position: 100% 50%;
  }
  to {
    background-image: radial-gradient(
      ellipse at center,
      var(--secondary) 0%,
      var(--secondary) 25%,
      var(--primary) 25.1%,
      var(--primary) 100%
    );
    background-position: 50% 50%;
  }
}

input[type='range'] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */

  background: transparent; /* Otherwise white in Chrome */
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #d4a13c;
  cursor: pointer;
  margin-top: -4px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  /* Add cool effects to your sliders! */
}

input[type='range']::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type='range']:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type='range']::-ms-track {
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 3px;
  cursor: pointer;
  background: #2d2c29;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: #2d2c29;
}

input[type='range']::-moz-range-track {
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #2d2c29;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type='range']::-ms-track {
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type='range']:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type='range']::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type='range']:focus::-ms-fill-upper {
  background: #367ebd;
}
:-webkit-full-screen #controls {
  color: white;
  position: absolute;
  bottom: 0;
}

:fullscreen #controls {
  color: white;
  position: absolute;
}

:-webkit-full-screen video {
  width: 100%;
  height: 100%;
}

:fullscreen video {
  width: 100%;
  height: 100%;
}
